### SystemD service definition for GNU/LINUX

[Unit]
Description=Vacuum remote control
After=network.target

[Service]
SuccessExitStatus=143
ExecStart=/opt/vacuum/run.sh
Type=forking
ExecStop=/bin/kill -15 $MAINPID
User=appuser
Group=appgroup

[Install]
WantedBy=multi-user.target
