.round-button {
	width:100%;
	padding-top: 50px;
	padding-left: 12%;
}
.round-button-circle {
	width: 80%;
	height:0;
	padding-bottom: 80%;
    border-radius: 50%;
	border:10px solid #442008;
    overflow:hidden;
    
    box-shadow: 0 0 3px gray;
}
.round-button-circle:active {
	background:#30588e;
}

.round-button-circle-on {
	background: #3cc146;
}

.round-button-circle-off {
	background: #bf1f1f;
}
.round-button a {
    display:block;
	float:left;
	width:100%;
	padding-top:50%;
    padding-bottom:50%;
    margin-left:-12%;
	line-height:1em;
	margin-top:-0.5em;
    
	text-align:center;
	color:#f9f0ea;
    font-family:Verdana;
    font-size:8vw;
    font-weight:bold;
    text-decoration:none;
}

.text {
	font-family:Verdana;
    font-size:8vw;
    font-weight:bold;
    text-decoration:none;
}

.loader_ajax_small {
  border: 2px solid #f3f3f3 !important;
  border-radius: 50%;
  border-top: 2px solid #2D2D2D !important;
  width: 200px;
  height: 200px;
  -webkit-animation: spin_loader_ajax_small 1s linear infinite;
  animation: spin_loader_ajax_small 1s linear infinite;
  margin: 10px auto;
}

@-webkit-keyframes spin_loader_ajax_small {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin_loader_ajax_small {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
